global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node-exporter'
    # The 'node-exporter' hostname corresponds to the service name in the Docker Compose file
    static_configs:
      - targets: ['node-exporter:9100'] 
